@import "src/assets/styles/templates";

.header {
  @extend %transition;
  @include flex-col-gap(32px);

  padding: 32px;

  background: var(--Additional-white);
}

.withBottom {
  padding: 30px 32px 16px;
}

.wrapper {
  @include flex-gap(32px);
  justify-content: space-between;
  align-items: center;
}

.title {
  @extend %transition;
  color: var(--Greyscale-900);
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.2px;
}

.description {
  @extend %transition;
  color: var(--Greyscale-900);
  font-size: 14px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.2px;
}