@import "src/assets/styles/templates";

.projects {
  @include section(24px 20px);
  @include flex-col-gap(16px);

  .header {
    @include flex-gap(16px);

    .addButton {
      @extend %transition;
      @include flex-gap(12px);
      align-items: center;

      height: 100%;
      padding: 6px 12px;

      color: var(--Greyscale-900);
      background: var(--Greyscale-50);

      cursor: pointer;
      border-radius: 100px;

      &:hover {
        opacity: 0.7;
      }

      svg {
        width: 14px;
        height: 14px;

        path {
          @extend %transition;
          stroke: var(--Greyscale-900);
        }
      }
    }
  }

  .list {
    @include flex-gap(16px);
    flex-wrap: wrap;
  }
}