@import 'src/assets/styles/templates';

.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  background: var(--Overlay-background);
  overflow-y: auto;
}

.content {
  position: relative;

  border-radius: 16px;
  background-color: var(--Additional-white);

  padding: 24px;
  margin: 20px;

  -webkit-box-shadow: 0 0 12px 0 rgba(34, 60, 80, 0.05);
  -moz-box-shadow: 0 0 12px 0 rgba(34, 60, 80, 0.05);
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.05);

  z-index: 100;
}

@media screen and (max-width: 480px) {
  .content {
    margin: 12px;
    padding: 12px;
  }
}