@import "src/assets/styles/templates";

.item {
  @include flex-col-gap(12px);
  padding: 0 16px;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 14px;
    line-height: 20px;
    color: var(--Greyscale-500);
  }

  button {
    width: 100%;
  }
}