@import "src/assets/styles/templates";

.wrapper {
  @include flex-col-gap(12px);
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;

  path{
    @extend %transition;
    transition-property: fill;
  }
}

.description {
  color: var(--Greyscale-500);
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}