@import "src/assets/styles/templates";

.wrapper {
  max-width: 100%;
  height: 100%;
}

.board {
  height: 100%;
  display: flex;
  overflow: auto;
  gap: 24px;

  & > * {
    max-width: calc((100% + 24px) / 4);
    min-width: 300px;
    width: 100%;
  }
}