@import "src/assets/styles/templates";

.header {
  @extend %transition;
  transition-property: background-color;
  @include flex-col-gap(20px);

  padding: 24px 32px;

  background: var(--Additional-white);
}

.withBottom {
  padding: 30px 32px 16px;
}

.wrapper {
  @include flex-gap(32px);
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    height: 48px;
  }
}