@import "src/assets/styles/templates";

.item {
  @extend %transition;
  @include flex-gap(16px);
  align-items: center;

  cursor: pointer;
  overflow: hidden;
  padding: 12px 16px;
  border-radius: 12px;

  background: transparent;
  width: 100%;

  // effects
  &:hover {
    background-color: var(--Greyscale-50);

    .colorWrapper {
      opacity: 0.5;
    }

    .iconWrapper {
      transform: rotate(5deg);

      svg path {
        stroke: var(--Primary-600-base)
      }
    }

    .text {
      color: var(--Primary-600-base);
    }
  }

  &:active {
    .iconWrapper {
      transform: rotate(10deg);
    }
  }

  &:focus {
    background-color: var(--Greyscale-50);
  }

  // content
  .colorWrapper, .iconWrapper, .iconWrapper svg, .iconWrapper svg path {
    @extend %transition;
  }

  .colorWrapper {
    min-width: 12px;
    min-height: 12px;
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: var(--Greyscale-500);
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    width: 22px;
    height: 22px;

    svg {
      width: 22px;
      height: 22px;

      path {
        stroke: var(--Greyscale-500);
      }
    }
  }

  .text {
    @extend %transition;

    color: var(--Greyscale-500);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;

    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
}

.short {
  padding: 0;

  .iconWrapper {
    width: 28px;
    height: 28px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .text {
    opacity: 0;
  }
}