@import "src/assets/styles/templates";

.main {
  @extend %transition;
  transition-property: margin-left;

  flex: 1 1 auto;

  overflow: hidden;
  margin-left: 250px;
}

.hideSidebar {
  margin-left: 54px;
}

@media screen and (max-width: 767px) {
  .main {
    margin-left: 54px;
  }
}