:root {
  --App-bg: #F8FAFC;

  // Primary
  --Primary-900: #1E3A8A;
  --Primary-800: #1E40AF;
  --Primary-700: #1D4ED8;
  --Primary-600-base: #2563EB;
  --Primary-500: #3B82F6;
  --Primary-400: #60A5FA;
  --Primary-300: #93C5FD;
  --Primary-200: #BFDBFE;
  --Primary-100: #DBEAFE;
  --Primary-50: #EFF6FF;

  // Secondary
  --Secondary-Glamour-pink-500-base: #EC4899;
  --Secondary-Glamour-pink-400: #F472B6;
  --Secondary-Glamour-pink-300: #F9A8D4;
  --Secondary-Glamour-pink-200: #FBCFE8;
  --Secondary-Glamour-pink-100: #FCE7F3;
  --Secondary-Glamour-pink-50: #FDF2F8;

  --Secondary-Amber-500-base: #F6A723;
  --Secondary-Amber-400: #FBBF24;
  --Secondary-Amber-300: #FCD34D;
  --Secondary-Amber-200: #FDE68A;
  --Secondary-Amber-100: #FEF3C7;
  --Secondary-Amber-50: #FFFBEB;

  --Secondary-Algal-fuel-500-base: #24D164;
  --Secondary-Algal-fuel-400: #4ADE80;
  --Secondary-Algal-fuel-300: #86EFAC;
  --Secondary-Algal-fuel-200: #BBF7D0;
  --Secondary-Algal-fuel-100: #DCFCE7;
  --Secondary-Algal-fuel-50: #F0FDF4;

  // Greyscale
  --Greyscale-900: #0F172A;
  --Greyscale-800: #1E293B;
  --Greyscale-700: #334155;
  --Greyscale-600: #475569;
  --Greyscale-500: #64748B;
  --Greyscale-400: #94A3B8;
  --Greyscale-300: #CBD5E1;
  --Greyscale-200: #E2E8F0;
  --Greyscale-100: #F1F5F9;
  --Greyscale-50: #F8FAFC;

  // Additional
  --Additional-white: #FFFFFF;
  --Additional-indigo: #6366F1;
  --Additional-sky: #38BDF8;
  --Additional-purple: #8B5CF6;
  --Additional-emerald: #34D399;
  --Additional-red: #d3514b;
}

html[app_theme='dark'] {
  --App-bg: #1B1B1B;

  // Primary
  --Primary-600-base: #219BFF;

  // Secondary

  // Greyscale
  --Greyscale-900: #e3e1e1;
  --Greyscale-500: #828282;
  --Greyscale-400: #9d9fa9;
  --Greyscale-300: #595c5e;
  --Greyscale-200: #575757;
  --Greyscale-100: #464646;
  --Greyscale-50: #262626;

  // Additional
  --Additional-emerald: #34D399;
  --Additional-white: #1f1f1f;
}
