@import "src/assets/styles/templates";

.account {
  @include flex-col-gap(32px);
  @include section(24px 20px);
}

.header {
  @include flex-gap(20px);
  justify-content: space-between;
  align-items: center;

  .left {
    @include flex-gap(24px);
    align-items: center;

    .avatar {
      @extend %transition;

      min-width: 64px;
      max-width: 64px;
      min-height: 64px;
      max-height: 64px;

      border-radius: 50%;
      background: var(--Greyscale-50);
    }
  }
}

.list {
  @extend %transition;
  @include flex-gap(8px);
  justify-content: space-between;

  padding: 16px 32px;

  border-radius: 12px;
  background: var(--Greyscale-50);

  .hr {
    @extend %transition;

    width: 2px;
    flex: 0 0 auto;

    border-radius: 5px;
    background: var(--Greyscale-200);
  }

  .item {
    @include flex-col-gap(2px);
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      color: var(--Greyscale-400);

      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
    }

    .content{
      text-align: center;
    }
  }
}
